<div class="fixed inset-0 flex flex-col items-center justify-center bg-black">
    
    <img
    [src]="slideshowService.currentImgSrc()"
    alt="Slideshow"
    class="max-w-full max-h-full object-contain cursor-none"
    />
    
    <div class="absolute bottom-4 right-4 flex gap-4 opacity-25 hover:opacity-100 transition-opacity p-8">
        
        <button
            (click)="slideshowService.isPaused.set(!slideshowService.isPaused())"
            class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:bg-gray-300"
            >
            @if (slideshowService.isPaused()) { Resume } @else { Pause }
        </button>
    
        <button
            (click)="slideshowService.stopSlideshow()"
            class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600"
            >
            Stop
        </button>

        <button
            (click)="slideshowService.previous()"
            class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:bg-gray-300"
        >
        &lt;&lt;
        </button>

        <button
            (click)="slideshowService.next()"
            class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:bg-gray-300"
            >
            &gt;&gt;
        </button>

    </div>

</div>